@media print{
    @page {
    size: A4;
    margin: 0px;
    }

    #nav, #Print-to-pdf {
        display:none !important;
    }

    .interactive {
        display:none !important;  
    }
}
